<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="Header">
        <property name="headerFile" value="Header.txt"/>
    </module>
    <module name="FileLength"/>
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>
    <module name="FileTabCharacter"/>
    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity"/>
        <module name="CyclomaticComplexity"/>
        <module name="IllegalImport"/>
        <module name="AvoidStarImport"/>
        <module name="EmptyCatchBlock"/>
        <module name="MethodLength"/>
        <module name="NeedBraces"/>
    </module>
</module>